### Handling Imbalanced data
1. Up Sampling
2. Down Sampling

In [1]:
import numpy as np
import pandas as pd

# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [2]:
n_class_0, n_class_1

(900, 100)

In [6]:
#creating df with imabalnced dataset
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [11]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [12]:
df.head()

   feature_1  feature_2  target
0  -1.774224   0.285744       0
1  -1.201377   0.333279       0
2   1.096257   0.531807       0
3   0.861037  -0.354766       0
4  -1.520367  -1.120815       0

In [13]:
df.tail()

     feature_1  feature_2  target
995   2.677156   1.092048       1
996   2.963404   0.181955       1
997   1.621476   1.877267       1
998   3.429559   3.794486       1
999   3.532273   1.679490       1

In [15]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [19]:
#Revising How to create a DataFrame
#create a df from a dictionary of list

df1=pd.DataFrame({
    'Name':['krish','john','jack'],
    'age':[25,30,45],
    'city':['bangalore','new york','florida']
})

df2=pd.DataFrame({
    'Name':['k','j','j'],
    'age':[2,0,5],
    'city':['b','n','f']
})

In [21]:
df3=pd.concat([df1,df2])

In [23]:
df3.reset_index(drop=True)

    Name  age       city
0  krish   25  bangalore
1   john   30   new york
2   jack   45    florida
3      k    2          b
4      j    0          n
5      j    5          f

##### Up Sampling

In [24]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [28]:
from sklearn.utils import resample

df_minority_upsampled=resample(df_minority,replace=True,n_samples=len(df_majority),random_state=42)

In [31]:
df_minority_upsampled.reset_index(drop=True)

     feature_1  feature_2  target
0     2.905343   1.495151       1
1     2.000977   1.814833       1
2     1.927957   2.280911       1
3     2.819483   2.964646       1
4     2.456515   1.833528       1
..         ...        ...     ...
895   1.766644   1.532225       1
896   1.527330   2.182477       1
897   2.463277   0.795616       1
898   2.930412   1.067353       1
899   1.866832   2.723282       1

[900 rows x 3 columns]

In [33]:
minority_majority_resampled=pd.concat([df_minority_upsampled,df_majority])

In [40]:
minority_majority_resampled.reset_index(drop=True)
minority_majority_resampled['target'].value_counts()

target
1    900
0    900
Name: count, dtype: int64

#### Down Sampling

In [50]:
#creating df with imabalnced dataset
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

imbalanced_df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [51]:
imbalanced_df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [52]:
minority2_df=imbalanced_df[imbalanced_df['target']==1]
majority2_df=imbalanced_df[imbalanced_df['target']==0]

In [53]:
##down sample
from sklearn.utils import resample

downsampled_majority_df=resample(majority2_df,replace=True,n_samples=len(minority2_df),random_state=42)

In [54]:
downsampled_majority_df['target'].value_counts()

target
0    100
Name: count, dtype: int64

In [58]:
downsampled_df=pd.concat([downsampled_majority_df,minority2_df])
downsampled_df.shape
print(downsampled_df.shape)
print(downsampled_df['target'].value_counts())

(200, 3)
target
0    100
1    100
Name: count, dtype: int64