#### SQL And SQLite
SQL (Structured Query Language) is a standard language for managing and manipulating relational databases. SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems. In this lesson, we will cover the basics of SQL and SQLite, including creating databases, tables, and performing various SQL operations.

In [1]:
import sqlite3

In [2]:
#connect to a SQLite database

connection=sqlite3.connect('example.db')
connection

In [3]:
cursor=connection.cursor()

In [4]:
# create a table

cursor.execute(''' 
Create Table If Not Exists employees(
               id Integer Primary Key,
               name Text Not Null,
               age Integer,
               department Text
               )

''')

#commit the changes
connection.commit()

In [7]:
cursor.execute(''' 
Select * from employees

''')

In [9]:
#insert data into table

cursor.execute('''
insert into employees(name,age,department) 
               values('rush',22,'Data Scientist')
'''
)

cursor.execute('''
insert into employees(name,age,department) 
               values('bob',20,'SDE')
'''
)

cursor.execute('''
insert into employees(name,age,department) 
               values('charlie',30,'Finance')
'''
)

connection.commit()

In [13]:
#query the data from the data

cursor.execute('select * from employees')
rows=cursor.fetchall()

#print the queried data

for row in rows:
    print(row)

(1, 'rush', 22, 'Data Scientist')
(2, 'bob', 20, 'SDE')
(3, 'charlie', 30, 'Finance')

In [14]:
#update values in the table
cursor.execute('update employees set age=34 where name="rush"')
connection.commit()

In [16]:
cursor.execute('select * from employees')
rows=cursor.fetchall()

for row in rows:
    print(row)

(1, 'rush', 34, 'Data Scientist')
(2, 'bob', 20, 'SDE')
(3, 'charlie', 30, 'Finance')

In [20]:
#delete the data from the table

cursor.execute('delete from employees where name="bob"')

connection.commit()

In [21]:
cursor.execute('select * from employees')
rows=cursor.fetchall()

for row in rows:
    print(row)

(1, 'rush', 34, 'Data Scientist')
(3, 'charlie', 30, 'Finance')

In [34]:
## Working Wwith Sales Data
# Connect to an SQLite database
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# Create a table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales (
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)
''')



# Insert data into the sales table
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]

#important EXECUTEMANY
cursor.executemany('''
Insert into sales(date,product,sales,region)
                   values(?,?,?,?)
''',sales_data)


connection.commit()

In [26]:
# Query data from the sales table
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')
(6, '2023-01-01', 'Product1', 100, 'North')
(7, '2023-01-02', 'Product2', 200, 'South')
(8, '2023-01-03', 'Product1', 150, 'East')
(9, '2023-01-04', 'Product3', 250, 'West')
(10, '2023-01-05', 'Product2', 300, 'North')

In [32]:
cursor.execute('''
delete from sales where id in (6,7,8,9,10)
''')

connection.commit()

In [33]:
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')