DATA STRUCTURES-
#LIST
#TUPLE
#SET
#DICTIONARY

LISTS-

In [46]:
# Introduction to Lists
# Creating Lists
# Accessing List Elements
# Modifying List Elements
# List Methods
# Slicing Lists
# Iterating Over Lists
# List Comprehensions
# Nested Lists

In [1]:
fruits=['apple','mango','bannana','orange']

In [ ]:
fruits[1]='cherry' ##changing item
fruits

['apple', 'cherry', 'bannana', 'orange']

In [4]:
fruits[1:]

['cherry', 'bannana', 'orange']

In [5]:
fruits[-1:]

['orange']

In [6]:
fruits[-1]

'orange'

In [7]:
fruits

['apple', 'cherry', 'bannana', 'orange']

In [ ]:
##inbuilt methods 1-append, 2-insert/remove, 3-pop, 4-index, 5-count, 6-sort, 7-reverse, 8-clear

#1-append
fruits.append('mango')
fruits

['apple', 'cherry', 'bannana', 'orange', 'mango', 'mango']

In [ ]:
#2-remove- this removes the first occurance of the item
fruits.remove('mango')

In [15]:
#2-insert
fruits.insert(1,'mango')
fruits

['apple', 'mango', 'cherry', 'bannana', 'orange']

In [ ]:
#3-pop- removes the last element in the list and prints it
fruits.pop()

'orange'

In [ ]:
fruits #the last elemwnt orange has been removed from the list

['apple', 'mango', 'cherry', 'bannana']

In [ ]:
#4-index- tells th eindex number of an item
fruits.index('cherry')

2

In [20]:
fruits.insert(2,'bannana')

In [ ]:
#5-count- this will count the number of items asked in the list

fruits.count('bannana') #since there are two occurances of bannanas in the list it prints 2

2

In [23]:
#6-sort - sorts the list in asc order of the first letter

fruits.sort()
fruits

['apple', 'bannana', 'bannana', 'cherry', 'mango']

In [26]:
#7-reverse- reverse all the elements in the list
fruits.reverse()
fruits

['mango', 'cherry', 'bannana', 'bannana', 'apple']

In [ ]:
#8-clear- removes all the items in the list

fruits.clear()
fruits #since th elist is empty it only prints [] with nothing in the list

[]

In [32]:
##Silicing List
number=[1,2,3,4,5,6,7,8,9,10]
print(number[2:5])
print(number[:5])
print(number[5:])
print(number[::2])
print(number[1:5:2]) #(start index: till which index(not included): step size)
print(number[::-2])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[2, 4]
[10, 8, 6, 4, 2]

In [33]:
##iterating over a list

for i in number:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [35]:
##iterate list with indexes

for index,i in enumerate(number):
    print(index,i)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

LIST COMPREHENSION

In [39]:
##list comprehension
list=[]
for x in range(10):
    list.append(x**2)

print(list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
[x**2 for x in range(10)] ##python allows us to create list in this way, we dont have to create a list and append it and write more LOC

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
##list comprehension syntax

"""
Basic syntax- [expression for item in iterable]

syntax with conditional logic- [expression for item in iterable if condition]

Nested List Comprehension- [expression for item 1 in iterable1 for item2 in iterable2]

"""

#ex1- basic syntax - sq of set of nos

sq=[num**2 for num in range(10)]

In [ ]:
#ex2- syntax with conditional logic - print even nos between 1-10

"""NORMAL CODE
list=[]
for i in range(10):
    if i%2==0:
        list.append(i)

print(list)"""

##list comprehension code
[num for num in range(10) if num%2==0]

[0, 2, 4, 6, 8]

In [43]:
##ex3- nested list comprehension- 

list1=[1,2,3,4]
list2=['a','b','c','d']
[[i,j]for i in list1 for j in list2]

[[1, 'a'],
 [1, 'b'],
 [1, 'c'],
 [1, 'd'],
 [2, 'a'],
 [2, 'b'],
 [2, 'c'],
 [2, 'd'],
 [3, 'a'],
 [3, 'b'],
 [3, 'c'],
 [3, 'd'],
 [4, 'a'],
 [4, 'b'],
 [4, 'c'],
 [4, 'd']]

In [45]:
#list comprehension with function calls

words=["hello","world","python","list","comprehension"]
length=[len(i) for i in words]
print(length)

[5, 5, 6, 4, 13]

2- TUPLE

In [ ]:
#Introduction to Tuples
#creating tuples
#accessing tuple elements
#tuple operations
#Immutable Nature of Tuples
#Tuple Methods
#Packing and Unpacking Tuples
#Nested Tuples
#Practical Examples and Common Errors

In [1]:
#Introduction to tuples
#Tuples are ordered collections of items that are immutable. They are similar to lists,
#but their immutability makes them different.

empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [ ]:
a=list() #empty list
b=tuple() #empty tuple

print(type(a))
print(type(b))

<class 'list'>
<class 'tuple'>

In [6]:
#converting list to tuple and vice versa

a=tuple([1,2,3,4,5,6,7]) 
print(type(a))
print(a)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7)

In [7]:
b=list((1,2,3,4,5,6,7)) 
print(type(b))
print(b)

<class 'list'>
[1, 2, 3, 4, 5, 6, 7]

In [8]:
mixed_tuple=(1,'mango','3.14', True)

print(mixed_tuple)
print(type(mixed_tuple))

(1, 'mango', '3.14', True)
<class 'tuple'>

In [9]:
#Accessing tuple elements

a

(1, 2, 3, 4, 5, 6, 7)

In [12]:
a[-1]

7

In [17]:
print(a[0:4])
print(a[::-1])

(1, 2, 3, 4)
(7, 6, 5, 4, 3, 2, 1)

In [18]:
#Tuple Operations- Concatenaton, repetition, slicing

concatenation_tuple= a + mixed_tuple
concatenation_tuple

(1, 2, 3, 4, 5, 6, 7, 1, 'mango', '3.14', True)

In [19]:
mixed_tuple * 3

(1, 'mango', '3.14', True, 1, 'mango', '3.14', True, 1, 'mango', '3.14', True)

In [ ]:
#immutable nature of tuples
#tuples are immutable so ther elements cant be changed once assigned

list1= [1,2,3,4,5]
print(list1)

list1[1]=10
print(list1)
##therefore lists are mutable, can be changed

a[1]=10
#tuple values cant be changed so we get an error, we can convert a tuple to a list 
#then chnage the elements and then convert it back to a tuple, but we cant direcly change values since they are immutable

[1, 2, 3, 4, 5]
[1, 10, 3, 4, 5]

TypeError: 'tuple' object does not support item assignment

In [27]:
## tuple methods
print(a)

(1, 2, 3, 4, 5, 6, 7)

In [ ]:
print(a.count(1))  #counts occurance of the value present in count function
print(a.index(7)) # tells us at which index the number inside index() is present

1
6

In [ ]:
# packing and unpacking tuple
#packing
packed_tuple= 1,"hello", 3.14
print(packed_tuple)

(1, 'hello', 3.14)

In [32]:
#unpacking
a,b,c=packed_tuple
print(a)
print(b)
print(c)

1
hello
3.14

In [34]:
#unpacking with *

numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)
print(type(middle))

1
[2, 3, 4, 5]
6
<class 'list'>

In [37]:
#nested tuples

#nested list
list=[[1,2,3,4],[6,7,8,9],[1,'hello',3.14,'c']]
list[0][2]
list[0][0:3]

[1, 2, 3]

In [38]:
#nested list- tuple inside a list
list=[[1,2,3,4],[6,7,8,9],(1,'hello',3.14,'c')]
list[0][2]
list[2][0:3]

(1, 'hello', 3.14)

In [40]:
#nested tuples

nested_tuple = ((1,2,3),('a','b','c'), (True,False))

#Access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [42]:
#iterating over nested tuples

for i in nested_tuple:
    for j in i:
        print(j, end=" ")
    print()

1 2 3
a b c
True False

3- DICTIONARIES

In [ ]:
"""
1-Introduction to Dictionaries
2-Creating Dictionaries
3-Accessing Dictionary Elements
4-Modifying Dictionary Elements
5-Dictionary Methods
6-Iterating Over Dictionaries
7-Nested Dictionaries
8-Dictionary Comprehensions
9-Practical Examples and Common Errors
"""

In [ ]:
"""Dictionaries are unordered collections of items. They store data in key-value pairs. 
Keys must be unique and immutable (e.g., strings, numbers, or tuples), while values can be of any type."""

In [43]:
#create dictionaries
empty_dictionary={}
print(type(empty_dictionary))

<class 'dict'>

In [44]:
empty_dictionary=dict()
empty_dictionary

{}

In [45]:
student={"name":"rushabh","age":"22","grade":100}
print(student)
print(type(student))

{'name': 'rushabh', 'age': '22', 'grade': 100}
<class 'dict'>

In [ ]:
#why single key is used
student={"name":"rushabh","age":"22","name":100}
print(student)

{'name': 100, 'age': '22'}

In [52]:
#accessing dictionary elements
student={"name":"rushabh","age":"22","grade":"A"}
print(student)
print(student['grade'])
print(student['age'])

{'name': 'rushabh', 'age': '22', 'grade': 'A'}
A
22

In [ ]:
#accessing elements using get() method

print(student.get('grade'))
print(student.get('age'))
print(student.get('last_name'))
print(student.get('last_name','Not Available'))

A
22
None
not available

In [56]:
#modifying dictionary elementss
#dictionary are mutable- we can add update or delete elements but the keys should be unique
"""print(student)"""
#add new key
student['age']=40
student['address']='india'
print(student)

{'name': 'rushabh', 'age': 40, 'grade': 'A', 'address': 'india'}

In [57]:
#deleting keys
del student['grade']
print(student)

{'name': 'rushabh', 'age': 40, 'address': 'india'}

In [62]:
##dictionary methods

keys=student.keys() #get all keys
print(keys)

values=student.values() #get all alues
print(values)

items=student.items() #get all key-values pairs
print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['rushabh', 40, 'india'])
dict_items([('name', 'rushabh'), ('age', 40), ('address', 'india')])

In [63]:
#shallow copy
student_copy=student
print(student)
print(student_copy)

{'name': 'rushabh', 'age': 40, 'address': 'india'}
{'name': 'rushabh', 'age': 40, 'address': 'india'}

In [64]:
student["name"]='krish2'
print(student)
print(student_copy)

{'name': 'krish2', 'age': 40, 'address': 'india'}
{'name': 'krish2', 'age': 40, 'address': 'india'}

In [65]:
student_copy1=student.copy() ##copy() responsible for shallow copying and will alocate a diff memory for student_copy1 which is diff from student so any changes made to student wont affect student_copy1
student["name"]='vrushali'
print(student)
print(student_copy1)

{'name': 'vrushali', 'age': 40, 'address': 'india'}
{'name': 'krish2', 'age': 40, 'address': 'india'}

In [66]:
#iterating over dictionaries
#we can use loops to iterate over dictionaries-keys,values,items(key-value pair)

#iterating over keys
for keys in student.keys():
    print(keys)

name
age
address

In [ ]:
#iterating over values
for value in student.values():
    print(value)

vrushali
40
india

In [69]:
#iterating over items
for key,value in student.items():
    print(f"{key}:{value}")

name:vrushali
age:40
address:india

In [71]:
#Nested dictionaries- dictionary inside a dictionary

students={
    "student1":{'name':'rushabh','age':'22','sport':'cricket'},
    "student2":{'name':'vrushali','age':'17','sport':'swimming'}
}
print(students)

{'student1': {'name': 'rushabh', 'age': '22', 'sport': 'cricket'}, 'student2': {'name': 'vrushali', 'age': '17', 'sport': 'swimming'}}

In [73]:
#Access nested dictionary elements
print(students["student1"]["name"])

rushabh

In [78]:
#iterating over nested dictionaries

for student_id, student_info in students.items():
    print(f"{student_id}:{student_info}")
    for key,value in student_info.items():
        print(f"{key}:{value}")

student1:{'name': 'rushabh', 'age': '22', 'sport': 'cricket'}
name:rushabh
age:22
sport:cricket
student2:{'name': 'vrushali', 'age': '17', 'sport': 'swimming'}
name:vrushali
age:17
sport:swimming

In [10]:
#dictionary comprehension
"""for x in range(5):
    squares={x:x**2}
    print(squares, end=" ")"""

"""print(end='\n')"""

squares={x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [15]:
#Conditional dictionary comprehension
even={x:x**2 for x in range(10) if x%2==0}
odd={x:x**2 for x in range(10) if x%2!=0}
print(even)
print(odd)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}
{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [18]:
##practical example

#use a dictionary to count the freq of elements in list

numbers=[1,2,2,3,3,3,3,4,4,4,4]
freq={i:numbers.count(i) for i in numbers}
print(freq)

{1: 1, 2: 2, 3: 4, 4: 4}

In [23]:
#merge 2 dictionaries into one

dict1={'a':1, 'b':2}
dict2={'c':3, 'd':4}
merged_dict={**dict1, **dict2}
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

4-SETS

In [ ]:
"""Sets are a built-in data type in Python used to store collections of unique items. 
They are unordered, meaning that the elements do not follow a specific order, and they 
do not allow duplicate elements. Sets are useful for membership tests, eliminating duplicate 
entries, and performing mathematical set operations like union, intersection, difference, and symmetric difference."""

In [5]:
#create a set
my_set={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [25]:
empty_set=set()
print(empty_set)

set()

In [3]:
#easiest way to assign set is by typecasting with list or tuple
empty_set=set([1,2,3,4,5,6,7,8,9,10])
print(empty_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
#basic set operations

#adding and removing elements

my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [10]:
#removing element
my_set.remove(7)
print(my_set)

{1, 2, 3, 4, 5, 6}

In [ ]:
#removing element which is not present

my_set.remove(10) #this will give an error

KeyError: 10

In [12]:
#removing element from set if it is present discard(), this will not give an error if the element isnt present it will continue the execution

my_set.discard(10)
print(my_set)

{1, 2, 3, 4, 5, 6}

In [15]:
# pop method
removed_element=my_set.pop() #pop method takes no arguements, first element in the set will get popped
print(removed_element)
print(my_set)

2
{3, 4, 5, 6}

In [16]:
#clear all elements

my_set.clear()
print(my_set)

set()

In [19]:
#set membership test

my_set={1,2,3,4,5}
print(3 in my_set) #checking if 3 is present in the set
print( 10 in my_set) #checking if 10 is present in the set

True
False

In [26]:
#mathematical operations

set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

#union
union_set=set1.union(set2)
print(union_set)

#intersection
intersection_set=set1.intersection(set2)
print(intersection_set)

set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [29]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

#set1 minus set2 (difference)
print(set1.difference(set2))

#set2 minus set1 (difference)
print(set2.difference(set1))

{1, 2, 3}
{8, 9, 7}

In [ ]:
#symmetric difference

print(set1.symmetric_difference(set2)) #common elements from both sets are removed

{1, 2, 3, 7, 8, 9}

In [ ]:
#set methods
set1={1,2,3}
set2={1,2,3,4,5}

#issubset

print(set1.issubset(set2)) # checks if all the elements present in set1 is available in set2, checks if set1 is a subset of set2

#issuperset
print(set1.issuperset(set2)) #checks if all the elements of set2 are present in set1

True
False
False

In [ ]:
#convert list to set


lst=[1,2,2,3,4,4,5]

set10=set(lst)

print(set10)

[1, 2, 3, 4, 5]

In [ ]:
#convert set to list

# Using list comprehension
my_set = {1, 2, 3, 4, 5}
my_list = [item for item in my_set]
print(my_list)

In [ ]:
#counting unique letters in sentence

text="in this tutorial we're discussing about sets"

unique={words for words in text}
print(unique)

{'g', 'o', 't', 'r', 'l', ' ', 'e', 's', 'b', 'h', "'", 'c', 'n', 'u', 'w', 'a', 'i', 'd'}

In [56]:
#counting unique words in a sentence
text="in in this this tutorial we're discussing about sets"
words=text.split()
print(words)

#convert list to set

unique_words=set(words)
print(unique_words)
print(len(unique_words))
print(len(words))

['in', 'in', 'this', 'this', 'tutorial', "we're", 'discussing', 'about', 'sets']
{'tutorial', 'this', "we're", 'discussing', 'in', 'about', 'sets'}
7
9

Real-World Examples Using Lists in Python

Example 1. Manage A To Do List

In [62]:
#Create a To Do List To Keep Track OF Tasks

to_do_list=["buy groceries","clean the house","pay bills"]

#adding task to to do list

to_do_list.append("schedule meeting ")
to_do_list.append("go for a run")

#removing a completed task
to_do_list.remove("clean the house")

#checking if a task is in the list
if "pay bills" in to_do_list:
    print("reminder- pay your bills")

#remianign tasks
print("remaining tasks-",end='\n')
for i in to_do_list:
    print(f"-{i}")

reminder- pay your bills
remaining tasks-
-buy groceries
-pay bills
-schedule meeting
-go for a run

Example 2: Organizing Student Grades

In [68]:
#Create a list to store and calculate average grades for students

# Organizing student grades
grades = [85, 92, 78, 90, 88]

# Adding a new grade
grades.append(95)

# Calculating the average grade
average_grade = sum(grades) / len(grades)
print(f"Average Grade: {average_grade:.2f}")

# Finding the highest and lowest grades
highest_grade = max(grades)
lowest_grade = min(grades)
print(f"Highest Grade: {highest_grade}")
print(f"Lowest Grade: {lowest_grade}")

Average Grade: 88.00
Highest Grade: 95
Lowest Grade: 78

Example 3: Managing An Inventory

In [73]:
#Use a list to manage inventory items in a store

inventory=["apple","bananna","orange","cherry"]

#adding an item to the inventory

inventory.append("grapes")

#removing from inventory
inventory.remove("orange")

#checking if item in stock
item="orange"

if item in inventory:
    print(f"-{item} in stock")
else:
    print(f"-{item} out of stock")

#printing the inventory
print("inventory list-")
for i in inventory:
    print(f"-{i}")

-orange out of stock
inventory list-
-apple
-bananna
-cherry
-grapes

Example 4:Collecting User Feedback

In [ ]:
#Use a list to collect and analyze user feedback.

feedback = ["Great service!", "Very satisfied", "Could be better", "Excellent experience"]

#Adding new feedback
#Counting specific feedback
# Printing all feedback